.container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mandalart {
    height: 50%;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;   
}

.BoxContainer:hover {
    background-color: red;
}