.Box {
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    margin: 2px;
    line-height: 50px;
}

.Box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.Content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

