.Box {
    display: flex;
    border: solid 1px lightgray;
    width: 90%;
    height: 90%;
    background-color:seashell;
    margin: 2px;
    line-height: 50px;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}

.Box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.Content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

