.container {
    border: 1px solid rgba(0,0,0,0.3);
    min-width: 120px;
    min-height: 120px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:hover {
    background-color: rgba(0,0,0,0.3);

}