.container {
    margin: 5px;
    padding: 5px;
    min-width: 150px;
    min-height: 150px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}


.container:hover {
    background-color: rgba(0,0,0,0.3);
}