.container {
    display: flex;
    flex: 1;
    margin-top: 50px;
    
    background-color: lightcoral;
    width: 100vw;
    text-align: center;

    
    align-items: center;
    justify-content: center;
    height: 750px;
}