.navItems {
    background-color: lightsalmon;    
    display: flex;
    margin: auto;
    width: 100%;
    height: 5vh;
    min-height: 40px;
    justify-content: center;
    align-items: center;

}

.menuIcon {
    margin-top: 0.5vh;
    margin-right: 10px;
}

.menuItem {
    padding: auto;
    margin: 10vw;
    font-size: 20px;
}

.menuItem:hover {

}

.menuItem:hover span {
    color:  whitesmoke;
}