.container {
    display: flex;
    
    overflow: overlay;
    flex: 1;
    background-color: lightgrey;
    width: 100%;
    min-width: 700px;
    min-height: 120px;
    height: 20vh;
    flex-direction: column;
}