.container {
    background: pink;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    width: 64px;
    height: 64px;
    display: flex;
    margin-right: 1vw;
}

.title {
    display: flex;

}
