.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: skyblue;
    font-size: small;
    margin-top: 13vh;
    width: 100vw;
    height: 7vh;
}

p {
    margin: 0;
}