body {
  background-color: #FFF5DC;
  min-width: 750px;
  min-height: 500px;
  max-width: 1440px;
  max-height: 1024px;
  margin: 0;

  font-family: 'Dongle', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}